<h1>Place order</h1>
<%= form_for :order, :url => url_for(:action => 'order', :controller => 'cart'), :method=>:post do |f| %>
	<table>
		<tr>
			<th><%= f.label :name %></th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<th><%= f.label :email %></th>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<th><%= f.label :address %></th>
			<td><%= f.text_field :address %></td>
		</tr>
		<tr>
			<th><%= f.label :phone %></th>
			<td><%= f.text_field :phone %></td>
		</tr>
		<tr>
			<th><%= f.label :delivery %></th>
			<td><%= f.select :delivery, options_for_select([['Express delivery - 35 EUR', 0], ['Normal delivery - 10 EUR', 1], ['Snail-mail - FREE', 2]]) %></td>
		</tr>
		<tr>
			<th><%= f.label :notes %></th>
			<td><%= f.text_area :notes %></td>
		</tr>
		<tr>
			<th><%= label_tag(:total, "Total price") %></th>
			<td><%= @total %> EUR</td>
		</tr>
		<tr>
			<th></th>
			<td><%= submit_tag("Place order") %></td>
		</tr>
	</table>
<% end %>
