<h1>Your cart</h1>
<% if @item_hash and @item_hash.length>0 then %>
	<table id="cart">
		<tr>
			<th>Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>
				<%= form_tag url_for(:action => 'remove', :controller => 'cart'), :method=>:put do |f| %>
				  <%= submit_tag("remove all") %>
				<% end %>
			</th>
		</tr>
		<% @item_hash.each do |item, amount| %>
			<tr>
				<td>
					<%= link_to item do %>
						<%= item.name %>
					<% end %>
				</td>
				<td><%= amount %></td>
				<td><%= amount*item.price %> EUR</td>
				<td>
					<%= form_for item, :url => url_for(:action => 'remove', :controller => 'cart', :id => item.id), :method=>'put' do |f| %>
					  <%= submit_tag("remove") %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	<br/>
	<br/>

	<div id="cart_bottom">
		<strong>Total: <%= @total %> EUR</strong><br/>
		<%= link_to "Checkout", url_for(:action => 'checkout', :controller => 'cart') %>
	</div>
<% else %>
	<p>You don't have any items in your cart.</p>
<% end %>