<h1>Edit item</h1>

<%= render 'form' %>

<hr/>

<h1>Upload image</h1>
<%= form_for @item_photo, :url => url_for(:action => 'update', :controller => 'items'), :method=>'put', :html => { :multipart => true } do |f| %>
    <% if @item_photo.errors.any? %>
        <p><%= pluralize(@item_photo.errors.count, "error") %></p>

        <ul class="error_list">
        <% @item_photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

    <% end %>

    <table>
		<tr>
			<th><%= f.label :photo %></th>
			<td><%= f.file_field :photo %></td>
		</tr>
		<tr>
			<th></th>
			<td><%= f.submit %></td>
		</tr>
	</table>
<% end %>

<hr/>

<h1>Manage images</h1>
<p>Click on the images to make them default.</p>

<% @item.item_photos.each do |item_photo| %>
	<% if item_photo.photo.exists? then %>
		<div class="thumbs active">
			<%= image_tag item_photo.photo.url(:thumb) %><br/>
			<a href="#">remove</a>
		</div>
	<% end %>
<% end %>

<div class="clr"></div>

<hr/>

<h1>Delete item</h1>
<p>Deleting an item is permanent. Please consider to hide it (uncheck "published") instead of deleting.</p>

<%= form_for @item, :method => "delete" do |f| %>
	<%= f.submit :value => "Delete permanently" %>
<% end %>

<p></p>
<p>
	<%= link_to 'Show', @item %> |
	<%= link_to 'Back to list', items_path %>
</p>

