<%= form_tag("/search", :method => "get", :id => "search_form") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= select_tag(:category_id, options_for_select([['all', 0], ['category 1', 1], ['category 2', 2]]) ) %>
  <%= select_tag(:sort, options_for_select([['sort by name', 1], ['sort by price', 2], ['sort by date', 3]]) ) %>
  <%= submit_tag("Search") %>
<% end %>

<hr/>

<ul>
	<% @items.each do |item| %>
		<li>
			<%= link_to item do %>
				<% if item.item_photo and item.item_photo.photo.exists? then %>
					<%= image_tag item.item_photo.photo.url(:thumb) %>	
				<% else %>
					<%= image_tag "/images/default.png" %>
				<% end %>
			<% end %>
			<div class="item_box">
				<div class="item_header">
					<%= link_to item do %>
						<%= item.name %>
					<% end %>
					<% if not item.published %>
						<span class="draft">draft</span>
					<% end %>
					<% if session[:logged_in] %>
						<%= link_to '[edit]' , {:action => "edit", :id => item}, :class => 'edit_link_right' %>
					<% end %>
				</div>
				<p><%= item.short_desc %></p>
			</div>
			<div class="clr"></div>
		</li>
	<% end %>
</ul>

