<%= form_tag(items_path, :method => "get", :id => "search_form") do %>
  <%= label_tag(:q, "Search for:") %>
  
  <%= text_field_tag :search, params[:search] %>

  <%= select_tag(:sort, options_for_select([['sort by name', 0], ['sort by price', 1], ['sort by date', 2]], params[:sort]) ) %>
  <%= submit_tag("Search") %>


	<% if session[:items] and session[:items].length>0 then %>
		<span id="cart_link">
			<%= link_to :controller=>'cart', :action=>'index' do %>
				Your cart (<%= session[:items].length %>)
			<% end %>
		</span>
	<% end %>
	
<% end %>


<hr/>

<ul>
	<% @items.each do |item| %>
		<li>
			<%= link_to item do %>
				<% if item.item_photo and item.item_photo.photo.exists? then %>
					<%= image_tag item.item_photo.photo.url(:thumb) %>	
				<% else %>
					<%= image_tag "/images/default.png" %>
				<% end %>
			<% end %>
			<div class="item_box" data-id="<%= item.id %>">
				<div class="item_header">
					<%= link_to item do %>
						<%= item.name %>
					<% end %>
					<% if not item.published %>
						<span class="draft">draft</span>
					<% end %>
					<% if session[:logged_in] %>
						<%= link_to '[edit]' , {:action => "edit", :id => item}, :class => 'edit_link_right' %>
					<% end %>
				</div>
				<p><%= item.short_desc %></p>
				<strong><%= item.price %> EUR</strong>
			</div>
			<div class="clr"></div>
		</li>
	<% end %>
</ul>

