<div id="left_column">
	<h2><%= @item.name %></h2>
	<p><%= @item.short_desc %></p>
	<p><%= @item.long_desc %></p>
</div>

<div id="right_column">
	<% if @item.item_photo then %>
		<% if @item.item_photo.photo.exists? then %>
			<%= image_tag @item.item_photo.photo.url(:big) %>
		<% end %>
	<% end %>
</div>
<div class="clr"></div>

<h2><%= @item.price %> EUR</h2>
<%= form_for @item, :url => url_for(:action => 'update', :controller => 'cart', :id => @item.id), :method=>'put' do |f| %>
  <%= text_field_tag(:amount) %>
  <%= submit_tag("Add to cart") %>
<% end %>

