<div id="left_column">
	<h2><%= @item.name %></h2>
	<p><%= @item.short_desc %></p>
	<p><%= @item.long_desc %></p>
</div>

<div id="right_column">
	<% if @item.item_photo then %>
		<% if @item.item_photo.photo.exists? then %>
			<%= image_tag @item.item_photo.photo.url(:big) %>
		<% end %>
	<% end %>
</div>
<div class="clr"></div>

<h2><%= @item.price %> EUR</h2>
<%= form_tag("/cart/add", :method => "post") do %>
  <%= text_field_tag(:num) %>
  <%= submit_tag("Add to cart") %>
<% end %>

